@model Inc2SuchTrans.Models.Employee

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

    <h4 class="EveryHeader">Employee</h4>
<div class="FilterDivAdmin">

    @{ Html.RenderPartial("_Alerts"); }

    <hr />

    <table class="table-condensed table-bordered DeliveryTable">
        <tbody>
            <tr>
                <td class="alert-info">
                    @Html.DisplayNameFor(model => model.EmployeeName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.EmployeeName)
                </td>
            </tr>

            <tr>
                <td class="alert-info">
                    @Html.DisplayNameFor(model => model.EmployeeSurname)
                </td>
                <td>
                    @Html.DisplayFor(model => model.EmployeeSurname)
                </td>
            </tr>

            <tr>
                <td class="alert-info">
                    @Html.DisplayNameFor(model => model.IDNumber)
                </td>
                <td>
                    @Html.DisplayFor(model => model.IDNumber)
                </td>
            </tr>

            <tr>
                <td class="alert-info">
                    @Html.DisplayNameFor(model => model.City)
                </td>
                <td>
                    @Html.DisplayFor(model => model.City)
                </td>
            </tr>

            <tr>
                <td class="alert-info">
                    @Html.DisplayNameFor(model => model.Address)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Address)
                </td>
            </tr>

            <tr>
                <td class="alert-info">
                    @Html.DisplayNameFor(model => model.PostalCode)
                </td>
                <td>
                    @Html.DisplayFor(model => model.PostalCode)
                </td>
            </tr>

            <tr>
                <td class="alert-info">
                    @Html.DisplayNameFor(model => model.Position)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Position)
                </td>
            </tr>

            <tr>
                <td class="alert-info">
                    @Html.DisplayNameFor(model => model.ContactNumber)
                </td>
                <td>
                    @Html.DisplayFor(model => model.ContactNumber)
                </td>
            </tr>

            <tr>
                <td class="alert-info">
                    @Html.DisplayNameFor(model => model.DateCreated)
                </td>
                <td>
                    @Html.DisplayFor(model => model.DateCreated)
                </td>
            </tr>

            <tr>
                <td class="alert-info">
                    @Html.DisplayNameFor(model => model.LastModified)
                </td>
                <td>
                    @Html.DisplayFor(model => model.LastModified)
                </td>
            </tr>

            <tr>
                <td class="alert-info">
                    @Html.DisplayNameFor(model => model.AspNetUsers.UserName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.AspNetUsers.UserName)
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="OrangeButton">
    @Html.ActionLink("Back to List", "AllEmployees", null, new { @class = "OrangeButtonLink" })
</div>
