@model IEnumerable<Inc2SuchTrans.Models.Delivery>

@{ 

}

@using (Html.BeginForm("UnpaidDeliveries", "Delivery", FormMethod.Post))
{
    @*<div class="container FilterDiv">
        <div class="row">
            <h4>Search For A Delivery</h4>
            <div class="search">
                @Html.Editor("refkey")
                <button type="submit" class="btn btn-primary btn-sm">Search</button>
            </div>
        </div>
    </div>*@

            <h4 style="font-size:300%;text-decoration:underline; text-align:center;">Unpaid Deliveries</h4>
    <div class="container FilterDivv2">
        <div class="row">
            <div class="search">
                <input type="text" class="form-control input-sm" id="refkey" name="refkey" maxlength="64" placeholder="Enter Delivery Reference Key" />
                <button type="submit" class="btn btn-primary btn-sm">Search</button>
            </div>
        </div>




        @{ Html.RenderPartial("_Alerts"); }

        <table class="DeliveryTable">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DeliveryRef)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CurrentDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeliveryDate)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.PickUpArea)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DropOffArea)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.DropOffAdd)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CargoSize)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.CargoWeight)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.TotalCost)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Paid)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Customer.IDNumber)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeliveryRef)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CurrentDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeliveryDate)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.PickUpArea)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DropOffArea)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.DropOffAdd)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CargoSize)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.CargoWeight)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalCost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Paid)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer1.IDNumber)
                    </td>
                    <td>
                        <div class="OrangeButton">
                            @Html.ActionLink("Pay Now", "ConfirmOrder", new { id = item.DelID }, new { @class = "OrangeButtonLink"})
                        </div>
                    </td>
                </tr>
            }
            
                

        </table>

                    @Html.ActionLink("Back", "YourDeliveries")
    </div>
            }